body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1em;
}

h1 {
  text-align: center;
}

.all-matches {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#embed {
  width: 60%;
  margin: 0 auto;
}

.comp-name {
  text-align: center;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
